@import url(https://fonts.googleapis.com/css?family=Great+Vibes);

@font-face {
    font-family: 'titlu';
    src: url('fonts/art_brewery-webfont.woff2') format('woff2'),
         url('fonts/art_brewery-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body { margin:0; }

#main {
	width: 950px;
	margin: 0 auto;
	position: relative;
	z-index:2;
	background: #fff;
}
#header {
	height: 150px;
	background: #ccc;
	border-bottom: 1px solid #000;
}
#content {
	min-height: 400px;
}
#footer {
	height: 70px;
	background: #ccc;
	border-top: 1px solid #000;
	text-align: center;
	padding-top: 30px;
}

/* DESPRE MENIUL ORIZONTAL */
#header ul {
	margin: 109px 0 0;
    list-style-type: none;
    padding: 0;
	float: right;
}
#header ul li {
	float:left;
	border: 1px solid #000;
    background: darkgrey;
    width: 150px;
    margin-left: 5px;
    height: 40px;
	text-align: center;
	transition: all 0.5s;
	border-radius: 20px 20px 0 0;
}
#header ul li a {
	color: #fff;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Trebuchet MS';
	display: block;
	transition: all 0.5s;
}
#header ul li:hover {
	background: lightgrey;
}
#header ul li:hover a {
	color: #000;
}

/* DESPRE ARTICOLE */
article {
	width:850px;
	margin: 50px auto;
}
article .efectepoza, article .pic {
	width: 300px;
	height: 300px;
	margin-right: 50px;
	float: left;
	overflow: hidden;
}
article img {
	width: 300px;	
	transition: all .5s;

}
/* zoom poza */
article .efectepoza:hover img {
	width: 500px;
	margin: -100px -100px;
}

article h2, article p {
	float: left;
	width: 500px;
}
article h2 {
	margin: 0;
	font-family: 'titlu', Arial;
	font-size: 30px;
    text-transform: capitalize;
    font-weight: 200;
}
article p {
	font-family: 'Great Vibes', Arial;
	font-size: 15px;
	text-align: justify;
}
article a {
	text-decoration: none;
	color: #000;
	float: right;
	transition: all 0.5s;
	margin-top: 6px;
}

.clearfix {
	clear: both;
}
article img:hover {
	opacity: 1;
	border-radius: 0;
}


/* despre sub-meniu */
#header ul li ul {
	margin: 0;
	position: relative;
	z-index: 10;
	left:1px;
	padding-top:1px;
}
#header ul li ul li {
	border-radius: 0;
	border-top:0;
}
#header ul li:hover ul li a {
	color: #fff;
}
#header ul li ul li:hover a {
	color: #000;
}

/* magia cu disparutul */
#header ul li ul {
	transition: all 0.5s;
	/*display: none;*/
	/*visibility: hidden;*/
	/*opacity: 0;*/
	/*margin-top: -400px;*/
	height: 0;
	overflow: hidden;
}

#header ul li:hover ul {
	/*display: block;*/
	/*visibility: visible;*/
	/*opacity: 1;*/
	/*margin-top:0;*/
	height: 420%;
}
#fundalvideo {
position: absolute;
top:0;
left:0;
width:100%;
height: 130%;
z-index: 1;
overflow: hidden;

}

/* despre link-urile din footer */
#footer a {
	text-decoration: none;
	color: #000;
	font-family: 'Trebuchet MS', Arial;
	font-size: 20px;
	border-right: 1px solid #000;
	padding: 0 10px;
	display: inline-block;
	line-height:18px;
}
#footer a:last-child {
	border: 0;
}

/* efect peste link articole */
article a {
	border: 1px solid #ccc;
	padding: 5px 20px;
	position: relative;
}
.tl, .tr, .br, .bl {
	width: 1px;
	height:1px;
	background: #000;
	position:absolute;
	transition: all 0.5s;
	opacity: 0;
}
.tl { top: -1px; left: -1px; }
.tr { top: -1px; right: -1px; }
.br { bottom: -1px; right: -1px; }
.bl { bottom: -1px; left: -1px; }

article a:hover .tl, article a:hover .br { width: calc(100% + 1px); opacity: 1;}
article a:hover .tr, article a:hover .bl { height: calc(100% + 1px);opacity: 1;}


















