div { border:1px solid red; }

body { margin:0; }

#main {
	width: 950px;
	margin: 0 auto;
}
#header {
	height: 150px;
}
#menu {
	width: 200px;
	float: left;
	min-height: 400px;
}
#content {
	float: left;
	width: 746px;
	min-height: 400px;
}
#footer {
	height: 100px;
	clear: both;
}

/* DESPRE MENIUL VERTICAL */
#menu ul {
	margin: 0;
    list-style-type: none;
    padding: 0;
}
#menu ul li {
	border: 1px solid #000;
    background: darkgrey;
    width: 150px;
    margin: 40px auto;
    height: 40px;
	text-align: center;
	transition: all 0.5s;
	border-radius: 20px;
}
#menu ul li a {
	color: #fff;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Trebuchet MS';
	display: block;
	transition: all 0.5s;
}
#menu ul li:hover {
	background: lightgrey;
}
#menu ul li:hover a {
	color: #000;
}









