@import url(https://fonts.googleapis.com/css?family=Great+Vibes);

@font-face {
    font-family: 'titlu';
    src: url('fonts/art_brewery-webfont.woff2') format('woff2'),
         url('fonts/art_brewery-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {margin:0;}

#main{
   width:800px;
   margin:0 auto;
   position:relative;
   z-index:2;
   background:#E9E9E9;
   
}

#header{
   border-bottom:2px solid #B4B4B4;
   height:100px;
   background:#E0E0E0;
   
}

#image{
   padding-top:10px;
   min-height:300px;
   width:400px;
   overflow:hidden;
   margin:auto;
   position:relative;
   
}

#image img:first-child{
   left:0;
}

#image img{ 
  width:400px;
  position:absolute;
  left:-400px; 
}

#content{
   min-height:350px;
   
}

#footer{
   border-top:2px solid #B4B4B4;
   height:50px;
   background:#ccc;
   text-align:center;
   padding-top:30px;
   
}

/*Logo-ul*/
#logo{
   margin:23px 50px 0;
   list-style-type:none;
   padding:0;
   float:left;
 }
#logo img{
   width:115px;
   height:60px;
   border-radius:5px 5px 5px 5px;
 }
/*Meniul Orizontal*/
#header ul{
   margin:25px 40px 0;
   list-style-type:none;
   padding:0;
   float:right;
 }
#header ul li{
   float:left;
   border:1px solid #000;
   background:darkgrey;
   width:100px;
   margin-left:20px;
   height:50px;
   text-align:center;
   transition:all 0.5s;
   border-radius:5px 5px 5px 5px;

}

#header ul li a{
   color:#fff;
   line-height:50px;
   text-decoration:none;
   text-transform:capitalize;
   font-family:'Trebuchet MS',Arial;
   display:block;
   transition: all 0.5s;
}
 
#header ul li:hover a{
    background:lightgrey;
}
 
#header ul li a:hover{
    color:#000;
}

/*SideBar*/

#sidebar{
   width: 220px;
   height:200px;
   float:left;
   margin: 40px;
   padding: 20px 10px; 
  
}
#sidebar li{
  color:blue;
 }
 
#sidebar ol li:hover a{
    background:#760080;
}
#sidebar ul li:hover a{
    background:#008000;
}
#sidebar ol li a:hover{
    color:#000;
}
#sidebar ul li a:hover{
    color:#000;
}

/*Despre Articole*/
#articles{
    width:680px;
    margin:40px auto;
}

#articles h2,#articles p{
    float:right;
    width:400px;
}

#articles h2{
   margin:0;
   text-align:center;
   font-family:'titlu',Arial;
   font-size:30px;
   text-transform:capitalize;
   font-weight:200;
}

#articles p{
   font-family:'Great Vibes', Arial;
   font-size:20px;
   text-align:justify;

}
clearfix{
   clear:1;
}

/*Footer*/
#footer a{
    text-decoration:none;
    color:#000;
    font-family:'Trebuchet MS',Arial;
    font-size:20px;
    border-right:1px solid #000;
    padding:0 10px;
    display:inline-block;
    line-height:18px;
}

#footer a:last-child{
  border:0;
}

